@model ResetViewModel.SendResetLink
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Assigna" />
    <!-- main css -->
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/site.css" />
    <title>Sign In - Assigna</title>
</head>

<body>
    <main>
        <!-- send link to reset -->
        <section class="send_rp_link fr_center container">
            <div class="sen_content">
                <!-- message -->
                <div id="alert-message"></div>
                <h3 class="reset_tit">Recover your account</h3>
                <p class="reset_nt">Forgot your account’s password or having trouble logging into your account?
                    Enter your email address and we’ll send you a recovery link.</p>
                <form id="send-link" class="sen_form" asp-action="#?" asp-antiforgery="true">
                    <div class="input_control">
                        <input type="text" id="mail" role="textbox" asp-for="Mail" placeholder="Email">
                        <span class="val_msg"></span>
                    </div>
                    <button type="submit" class="button">Send Link</button>
                </form>
                <div class="help">
                    <span>Go back to <a asp-controller="account" asp-action="signin" role="link">Sign In</a></span>
                </div>
            </div>
        </section>
    </main>
    <!-- scripts -->
    <script type="module" src="~/js/send-link.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>