@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Assigna" />
    <!-- main css -->
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/site.css" />
    <title>Error</title>
</head>

<body>
    <main>
        <!-- unhandle -->
        <section class="error container fr_center">
            <div class="er-content">
                <h1>Error</h1>
                <p>An occured while processing your request</p>
                <p>The support team is notified, We are working on the fix.</p>
            </div>
        </section>
    </main>
</body>
</html>