@model ErrorViewModel

@{
    Layout = null;
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Assigna" />
    <!-- main css -->
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/site.css" />
    <title>Error</title>
</head>

<body>
    <main>
        @{
            switch (Model.status)
            {
                case 404:
                    <!-- error 404 -->
                    <section class="error container fr_center">
                        <div class="er-content">
                            <h1>404</h1>

                            <p>This page can't be found</p>
                            <p>No webpage was found for this web address.</p>
                        </div>
                    </section>
                    break;
                case 500:
                    <!-- error 500 -->
                    <section class="error container fr_center">
                        <div class="er-content">
                            <h1>500</h1>
                            <p>This page isn't working now</p>
                            <p>The support team is notified, We are working on the fix.</p>
                        </div>
                    </section>
                    break;
            };
        }
    </main>
</body>
</html>